Repository mallfoundry/taroify: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, biome, prettier, stylelint

typescript:
  priority: 3
  run: npx tsc {staged_files} --noEmit --jsx react-jsx --target esnext --module esnext --moduleResolution node --allowSyntheticDefaultImports --lib esnext,dom --downlevelIteration --skipLibCheck --esModuleInterop

biome:
  priority: 4
  run: npx biome check --fix {staged_files} --reporter summary
  stage_fixed: true

prettier:
  priority: 6
  run: npx prettier --write {staged_files}

stylelint:
  priority: 7
  run: npx stylelint --fix {staged_files}

fix: 🐛 修复 Cell 内容溢出和宽度问题
  packages/core/src/cell/cell.scss
Due: prettier

fix: 🐛 Collapse 组件在小程序上表现卡顿
  packages/core/src/collapse/collapse-item.tsx
Due: typescript, biome

fix(Cell): 按 value 是否为空区分 flex，空 value 不占位、有内容时撑满
  packages/core/src/cell/cell-value.tsx
  packages/core/src/cell/cell.scss
Due: typescript, biome, prettier

fix(CellValue): 将 children 渲染到 View 内
  packages/core/src/cell/cell-value.tsx
Due: typescript, biome

test: update snapshots for CI (Cell + FloatingPanel)
  packages/core/src/cell/__tests__/__snapshots__/cell.test.tsx.snap
  packages/core/src/floating-panel/__tests__/__snapshots__/floating-panel.test.tsx.snap
Due: none

test: update snapshots for CI (Cell + FloatingPanel)
  packages/core/src/cell/__tests__/__snapshots__/cell.test.tsx.snap
Due: none

feat: 🎸 Release 0.9.2
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: biome, prettier

修改 vite-plugin-style-import 配置
  site/content/quickstart/index.md
Due: prettier

perf:(Form): Rule 支持布尔类型
  packages/core/src/form/form.rule.ts
Due: typescript, biome

fix(ActionBar): 修复图标按钮子元素 key 警告
  packages/commerce/src/action-bar/__tests__/action-bar-icon-button.test.tsx
  packages/commerce/src/action-bar/action-bar-icon-button.tsx
Due: typescript, biome

fix(Input): 过滤 number 类型非数字字符 (#992)
  packages/core/src/input/__tests__/input.test.tsx
  packages/core/src/input/input.tsx
Due: typescript, biome

fix(DropdownMenu): 支持关闭标题省略 (#987)
  packages/core/src/dropdown-menu/__tests__/dropdown-menu.test.tsx
  packages/core/src/dropdown-menu/dropdown-menu-title.tsx
  packages/core/src/dropdown-menu/dropdown-menu.tsx
Due: typescript, biome

feat(SafeArea): 支持自定义安全区背景 (#982)
  packages/core/src/fixed-view/__tests__/fixed-view.test.tsx
  packages/core/src/fixed-view/fixed-view.tsx
  packages/core/src/floating-panel/__tests__/__snapshots__/floating-panel.test.tsx.snap
  packages/core/src/floating-panel/__tests__/floating-panel.test.tsx
  packages/core/src/floating-panel/_variables.scss
  packages/core/src/floating-panel/floating-panel.scss
  packages/core/src/floating-panel/floating-panel.shared.ts
  packages/core/src/floating-panel/floating-panel.tsx
  packages/core/src/safe-area/index.ts
Due: typescript, biome, prettier

fix(List): 修复固定高度下拉刷新
  packages/core/src/list/README.md
  packages/core/src/list/__tests__/list-pull-refresh.test.tsx
  packages/core/src/list/list.tsx
  packages/core/src/pull-refresh/README.md
  packages/core/src/pull-refresh/pull-refresh.context.ts
  packages/core/src/pull-refresh/pull-refresh.tsx
Due: typescript, biome, prettier

ci: 🎡 修复 GitHub Actions 工作流
  .github/workflows/deploy-site.yml
  .github/workflows/issue-close.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-reply.yml
  .github/workflows/test.yml
Due: prettier

fix(Transition): 修复微信小程序 nodeRef 警告
  packages/core/src/transition/__tests__/transition.test.tsx
  packages/core/src/transition/transition.tsx
Due: typescript, biome

fix(Textarea): 修复安卓端 limit 字数限制失效 (#937)
  packages/core/src/textarea/__tests__/textarea.test.tsx
  packages/core/src/textarea/textarea.shared.ts
  packages/core/src/textarea/textarea.tsx
Due: typescript, biome

fix(Core): 修复组件交互与构建兼容问题
  package.json
  packages/core/src/button/README.md
  packages/core/src/floating-panel/README.md
  packages/core/src/floating-panel/__tests__/floating-panel.test.tsx
  packages/core/src/floating-panel/floating-panel.tsx
  packages/core/src/floating-panel/index.ts
  packages/core/src/index.ts
  packages/core/src/pull-refresh/__tests__/pull-refresh.test.tsx
  packages/core/src/pull-refresh/pull-refresh.tsx
  packages/core/src/toast/__tests__/toast.imperative.test.tsx
  packages/core/src/toast/toast.imperative.ts
  packages/core/src/utils/dom/__tests__/portal.test.ts
  packages/core/src/utils/dom/portal.ts
Due: typescript, biome, prettier

feat(Core): Checkbox 和 Radio 支持按钮形状 (#953)
  packages/core/src/checkbox/README.md
  packages/core/src/checkbox/__tests__/checkbox.test.tsx
  packages/core/src/checkbox/_variables.scss
  packages/core/src/checkbox/checkbox.scss
  packages/core/src/checkbox/checkbox.shared.ts
  packages/core/src/checkbox/checkbox.tsx
  packages/core/src/checkbox/index.ts
  packages/core/src/radio/README.md
  packages/core/src/radio/__tests__/radio.test.tsx
  packages/core/src/radio/_variables.scss
  packages/core/src/radio/index.ts
  packages/core/src/radio/radio.scss
  packages/core/src/radio/radio.shared.ts
  packages/core/src/radio/radio.tsx
  packages/demo/src/pages/form/checkbox/index.tsx
  packages/demo/src/pages/form/radio/index.tsx
Due: typescript, biome, prettier

feat(Core): 新增 Tour 漫游式引导组件
  .github/workflows/deploy-site.yml
  README.md
  packages/core/README.md
  packages/core/src/config-provider/config-provider.shared.ts
  packages/core/src/index.scss
  packages/core/src/index.ts
  packages/core/src/tour/README.md
  packages/core/src/tour/__tests__/tour.test.tsx
  packages/core/src/tour/_variables.scss
  packages/core/src/tour/index.scss
  packages/core/src/tour/index.ts
  packages/core/src/tour/style/index.ts
  packages/core/src/tour/tour.scss
  packages/core/src/tour/tour.shared.ts
  packages/core/src/tour/tour.tsx
  packages/core/src/utils/validate/index.ts
  packages/demo/src/pages/action/tour/index.config.ts
  packages/demo/src/pages/action/tour/index.scss
  packages/demo/src/pages/action/tour/index.tsx
  packages/demo/src/subpackages.js
  packages/gulp/font.js
  packages/gulp/index.js
  packages/gulp/scss.js
  packages/gulp/typescript.js
  site/content/introduce/index.md
  site/src/utils/menus.ts
Due: typescript, biome, prettier

fix(Core): 移除 Tour 兼容别名
  packages/core/src/tour/README.md
  packages/core/src/tour/__tests__/tour.test.tsx
  packages/core/src/tour/tour.shared.ts
  packages/core/src/tour/tour.tsx
Due: typescript, biome, prettier

Path conditions:
  typescript: any of: *.{ts,tsx}
  biome: any of: *.{ts,tsx,js,jsx,json,jsonc,css}
  prettier: any of: *.{md,mdx,html,htm,yaml,yml,scss}
  stylelint: any of: *.{scss}
