Repository mallfoundry/taroify: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, stylelint

biome:
  priority: 4
  run: na biome check --fix {staged_files} --reporter summary
  stage_fixed: true

prettier:
  priority: 6
  run: na prettier --write {staged_files}

stylelint:
  priority: 7
  run: na stylelint --fix {staged_files}

refactor: 💡 replace getSystemInfoSync
  packages/core/src/dropdown-menu/dropdown-menu.tsx
  packages/core/src/floating-bubble/floating-bubble.tsx
  packages/core/src/floating-panel/README.md
  packages/core/src/floating-panel/__tests__/floating-panel.test.tsx
  packages/core/src/floating-panel/floating-panel.tsx
  packages/core/src/hooks/use-canvas.ts
  packages/core/src/safe-area/__tests__/safe-area__outbrowser.test.tsx
  packages/core/src/utils/format/unit.ts
  packages/core/src/utils/version.ts
  packages/core/src/watermark/watermark.tsx
  packages/demo/src/pages/action/floating-panel/index.tsx
Due: biome, prettier

ci: 🎡 github actions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/release.yml
  .github/renovate.json
  .github/workflows/deploy-site.yml
  .github/workflows/issue-close.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-reply.yml
  .github/workflows/release-tag.yml
Due: biome, prettier

ci: 🎡 bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier

chore: 🤖 bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier

feat: 🎸 Cell 添加样式及类名属性
  packages/core/src/cell/README.md
  packages/core/src/cell/cell-brief.tsx
  packages/core/src/cell/cell-title.tsx
  packages/core/src/cell/cell-value.tsx
  packages/core/src/cell/cell.shared.ts
  packages/core/src/cell/cell.tsx
Due: biome, prettier

chore: 🤖 test ci
  .github/pr-labeler.yml
  .github/workflows/deploy-site.yml
  .github/workflows/pr-label.yml
  .github/workflows/test.yml
  packages/core/src/floating-panel/__tests__/__snapshots__/floating-panel.test.tsx.snap
  packages/core/src/safe-area/__tests__/__snapshots__/safe-area__outbrowser.test.tsx.snap
  packages/core/src/safe-area/__tests__/safe-area__outbrowser.test.tsx
Due: biome, prettier

chore: 🤖 text ci
  .github/workflows/deploy-site.yml
  .github/workflows/test.yml
Due: prettier

chore: 🤖 test and repository judgment
  .github/workflows/deploy-site.yml
  .github/workflows/pr-label.yml
  .github/workflows/test.yml
Due: prettier

pr test,ignore please
  wechat-qrcode.jpg
Due: none

docs: ✏️ mcp
  site/content/mcp/index.md
  site/src/utils/menus.ts
Due: biome, prettier

feat: 🎸 🎸 Release 0.7.0
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: biome, prettier

fix: 🐛 popup
  packages/core/src/popup/popup.tsx
  packages/demo/src/pages/basic/popup/index.tsx
Due: biome

feat: 🎸 feat(floating-panel): 添加手动设置高度功能
  packages/core/src/floating-panel/README.md
  packages/core/src/floating-panel/floating-panel.tsx
  packages/demo/src/pages/action/floating-panel/index.tsx
Due: biome, prettier

fix: 🐛 修复 Transition 组件的 findDOMNode API报错问题
  packages/core/src/transition/transition.tsx
Due: biome

fix: use correct variable in Check component background
  packages/core/src/checkbox/checkbox.scss
Due: prettier, stylelint

fix(Dialog): 未传入 title 时仍然渲染 header 的问题
  packages/core/src/dialog/dialog.tsx
Due: biome

feat(Dialog): dialog支持设置 message 的 font-weight
  packages/core/src/dialog/README.md
  packages/core/src/dialog/_variables.scss
  packages/core/src/dialog/dialog.scss
  packages/core/src/dialog/dialog.shared.ts
Due: biome, prettier, stylelint

feat: 🎸 Release 0.8.1
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: biome, prettier

fix: 🐛 allow header to be null in renderDialogHeader function
  packages/core/src/dialog/dialog.tsx
Due: biome

fix typo
  packages/core/src/field/README.md
  packages/demo/src/pages/form/field/index.tsx
Due: biome, prettier

chore(git-hook): 🤖 remove global dependency @antfu/ni and skip gitleaks security check if not installed
  lefthook.yml
  package.json
  scripts/security.js
Due: biome, prettier

Path conditions:
  biome: any of: *.{ts,tsx,js,jsx,json,jsonc,css}
  prettier: any of: *.{md,mdx,html,htm,yaml,yml,scss}
  stylelint: any of: *.{css,scss}
