Repository mallfoundry/taroify: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, biome, prettier, stylelint

typescript:
  priority: 3
  run: npx tsc {staged_files} --noEmit --jsx react-jsx --target esnext --module esnext --moduleResolution node --allowSyntheticDefaultImports --lib esnext,dom --downlevelIteration --skipLibCheck --esModuleInterop

biome:
  priority: 4
  run: npx biome check --fix {staged_files} --reporter summary
  stage_fixed: true

prettier:
  priority: 6
  run: npx prettier --write {staged_files}

stylelint:
  priority: 7
  run: npx stylelint --fix {staged_files}

Add valueClass prop to CellValue component
  packages/core/src/cell/cell.tsx
Due: typescript, biome

fix: 🐛 修复切换页面高度问题
  packages/core/src/fixed-view/__tests__/fixed-view.test.tsx
  packages/core/src/fixed-view/fixed-view.tsx
  site/content/quickstart/index.md
Due: typescript, biome, prettier

test: 💍 修复 FlatingPanel 单测
  packages/core/src/floating-panel/__tests__/__snapshots__/floating-panel.test.tsx.snap
Due: none

ci: 🎡 优化CICD
  .github/workflows/deploy-site.yml
  .github/workflows/issue-close.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-reply.yml
  .github/workflows/pr-label.yml
  .github/workflows/release-tag.yml
  .github/workflows/test.yml
Due: prettier

ci: 🎡 修复 lock 文件
  .github/workflows/deploy-site.yml
  .github/workflows/test.yml
Due: prettier

ci: 🎡 修复工作流报错
  .github/workflows/deploy-site.yml
  .github/workflows/test.yml
Due: prettier

ci: 🎡 去掉工作流缓存
  .github/workflows/deploy-site.yml
  .github/workflows/test.yml
Due: prettier

fix(toast): resolve singleton race condition on rapid calls
  packages/core/src/toast/toast.imperative.ts
Due: typescript, biome

fix(toast): export pendingToastSelectorSet from shared module
  packages/core/src/toast/toast.shared.ts
Due: typescript, biome

fix(toast): clean up pendingToastSelectorSet on component unmount
  packages/core/src/toast/toast.tsx
Due: typescript, biome

fix(toast): import pendingToastSelectorSet from shared module
  packages/core/src/toast/toast.imperative.ts
Due: typescript, biome

fix: 🐛 search 类型透传
  packages/core/src/input/input.tsx
Due: typescript, biome

fix: 🐛 Icon组件color属性不生效问题
  packages/icons/src/styles/icon.scss
  packages/icons/src/van/VanIcon.tsx
  packages/icons/src/van/__tests__/VanIcon.test.tsx
Due: typescript, biome, prettier

fix: 🐛 修复 1px 问题
  packages/core/src/radio/radio.scss
Due: prettier

fix: 🐛 修复 1px 问题
  packages/core/src/popup/popup-backdrop.tsx
  packages/core/src/toast/toast.imperative.ts
  packages/core/src/utils/dom/portal.ts
Due: typescript, biome

fix: 🐛 修复 1px 问题
  packages/core/src/checkbox/checkbox.scss
  site/src/components/side-nav.scss
Due: prettier

feat: 🎸 toast兼容单例模式
  packages/core/src/toast/toast.imperative.ts
Due: typescript, biome

docs: ✏️ $hd注入文档
  site/content/quickstart/index.md
Due: prettier

fix: 🐛 Collapse 组件在小程序上表现卡顿
  packages/core/src/collapse/collapse-item.tsx
Due: typescript, biome

docs: ✏️ Release 0.9.1
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: biome, prettier

Path conditions:
  typescript: any of: *.{ts,tsx}
  biome: any of: *.{ts,tsx,js,jsx,json,jsonc,css}
  prettier: any of: *.{md,mdx,html,htm,yaml,yml,scss}
  stylelint: any of: *.{scss}
