Repository mallfoundry/taroify: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, biome, prettier, stylelint

lefthook.yml:

# yaml-language-server:$schema=./node_modules/lefthook/schema.json
# https://evilmartians.github.io/lefthook/configuration/

pre-commit:
  piped: true
  follow: true
  commands:
    staged:
      priority: 1
      run: echo {staged_files}
    security:
      priority: 2
      run: node scripts/security.js
    typescript:
      priority: 3
      glob: "*.{ts,tsx}"
      run: npx tsc {staged_files} --noEmit --jsx react-jsx --target esnext --module esnext --moduleResolution node --allowSyntheticDefaultImports --lib esnext,dom --downlevelIteration --skipLibCheck --esModuleInterop
    biome:
      priority: 4
      glob: "*.{ts,tsx,js,jsx,json,jsonc,css}"
      run: npx biome check --fix {staged_files} --reporter summary
      stage_fixed: true
    prettier: # Biome 尚不支持 markdown 文件
      priority: 6
      glob: "*.{md,mdx,html,htm,yaml,yml,scss}"
      run: npx prettier --write {staged_files}
    stylelint: # Biome 尚不支持 scss 文件
      priority: 7
      glob: "*.{scss}"
      run: npx stylelint --fix {staged_files}

prepare-commit-msg:
  commands:
    commit:
      interactive: true
      run: npx git-cz --hook
      env:
        LEFTHOOK: "0"

fix(Form): 修复嵌套字段提交结构
  packages/core/src/form/__tests__/form.test.tsx
  packages/core/src/form/use-form.ts
Due: typescript, biome

fix(site): 修复文档资源与模拟器主题同步
  site/content/introduce/index.md
  site/scripts/prepare-docs.mjs
  site/theme/components/Simulator.tsx
  site/theme/styles/index.css
Due: typescript, biome, prettier

feat: 🎸 Release 1.0.0
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/package.json
Due: biome

fix(ci): 修复站点部署提交钩子冲突
  .github/workflows/deploy-site.yml
Due: prettier

fix(ci): 修复跨仓库部署认证冲突
  .github/workflows/deploy-site.yml
Due: prettier

docs(site): 完善文档展示与版本标记
  .gitignore
  packages/core/src/action-sheet/README.md
  packages/core/src/area-picker/README.md
  packages/core/src/back-top/README.md
  packages/core/src/button/README.md
  packages/core/src/calendar/README.md
  packages/core/src/cascader/README.md
  packages/core/src/cell/README.md
  packages/core/src/checkbox/README.md
  packages/core/src/circle/README.md
  packages/core/src/config-provider/README.md
  packages/core/src/dialog/README.md
  packages/core/src/divider/README.md
  packages/core/src/dropdown-menu/README.md
  packages/core/src/floating-panel/README.md
  packages/core/src/form/README.md
  packages/core/src/image/README.md
  packages/core/src/index-list/README.md
  packages/core/src/list/README.md
  packages/core/src/notice-bar/README.md
  packages/core/src/notify/README.md
  packages/core/src/pagination/README.md
  packages/core/src/picker/README.md
  packages/core/src/popup/README.md
  packages/core/src/radio/README.md
  packages/core/src/safe-area/README.md
  packages/core/src/search/README.md
  packages/core/src/space/README.md
  packages/core/src/stepper/README.md
  packages/core/src/tabs/README.md
  packages/core/src/tag/README.md
  packages/core/src/text-ellipsis/README.md
  packages/core/src/toast/README.md
  packages/core/src/uploader/README.md
  site/config/docs.mjs
  site/scripts/prepare-docs.mjs
  site/theme/styles/index.css
Due: biome, prettier

docs(site): 升级文档代码块展示
  site/content/contribution/index.md
  site/content/introduce/index.md
  site/content/quickstart/index.md
  site/rspress.config.ts
  site/scripts/prepare-docs.mjs
Due: typescript, biome, prettier

test(ActionSheet): 补全组件测试
  packages/core/src/action-sheet/__tests__/action-sheet.test.tsx
  packages/core/src/action-sheet/index.ts
Due: typescript, biome

test(AreaPicker): 补全组件测试
  packages/core/src/area-picker/__tests__/area-picker.test.tsx
  packages/core/src/area-picker/area-picker.shared.ts
Due: typescript, biome

fix: skip commit prompt during rebase
  lefthook.yml
Due: prettier

test(Avatar): 补全组件测试
  packages/core/src/avatar/__tests__/avatar.test.tsx
  packages/core/src/avatar/avatar-group.tsx
Due: typescript, biome

test(BackTop): 补全组件测试
  packages/core/src/back-top/__tests__/back-top.test.tsx
  packages/core/src/back-top/back-top.tsx
Due: typescript, biome

test(Backdrop): 补全组件测试
  packages/core/src/backdrop/__tests__/backdrop.test.tsx
Due: typescript, biome

fix(calendar): handle edge cases and dark theme
  packages/core/src/calendar/__tests__/calendar-scroll.test.tsx
  packages/core/src/calendar/__tests__/calendar.test.tsx
  packages/core/src/calendar/calendar-button.tsx
  packages/core/src/calendar/calendar.shared.ts
  packages/core/src/calendar/calendar.tsx
  packages/core/src/config-provider/__tests__/config-provider.test.tsx
  packages/core/src/config-provider/config-provider.theme.ts
Due: typescript, biome

test(button): improve button and badge coverage
  packages/core/src/badge/__tests__/badge.test.tsx
  packages/core/src/button/__tests__/button.test.tsx
Due: typescript, biome

test(button-base): add component coverage
  packages/core/src/button-base/__tests__/button-base.test.tsx
Due: typescript, biome

test(Cell): 补全组件测试
  packages/core/src/cell/__tests__/__snapshots__/cell.test.tsx.snap
  packages/core/src/cell/__tests__/cell.test.tsx
  packages/core/src/cell/cell.tsx
Due: typescript, biome

fix: 🐛 Radio 和 Checkbox 的背景色和边框区分度不够明显
  packages/core/src/checkbox/_variables.scss
  packages/core/src/radio/_variables.scss
  packages/demo/src/app.scss
  site/theme/styles/index.css
Due: biome, prettier

docs: ✏️ 更改地址
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/deploy-site.yml
  .github/workflows/issue-close.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-reply.yml
  .github/workflows/pr-label.yml
  .github/workflows/release-tag.yml
  .github/workflows/test.yml
  README.md
  package.json
  packages/commerce/package.json
  packages/core/README.md
  packages/core/package.json
  packages/core/src/utils/dom/element.ts
  packages/hooks/package.json
  packages/icons/package.json
  site/content/changelog/index.md
  site/content/contribution/index.md
  site/content/introduce/index.md
  site/rspress.config.ts
Due: typescript, biome, prettier

feat(site): 自动同步 GitHub Release 变更日志
  .github/workflows/deploy-site.yml
  .github/workflows/release-tag.yml
  site/content/changelog/index.md
  site/package.json
  site/scripts/generate-changelog.mjs
  site/scripts/prepare-docs.mjs
Due: biome, prettier
