Repository mallfoundry/taroify: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  piped: true
  follow: true
  commands:
    staged:
      priority: 1
      run: echo {staged_files} | tr ' ' '\n'
    # security:
    #   priority: 2
    #   run: gitleaks protect --staged --no-banner
    typescript:
      priority: 3
      glob: "*.{ts,tsx}"
      run: na tsc {staged_files} --noEmit
    # biome:
    #   priority: 4
    #   glob: "*.{ts,tsx,js,jsx,json,jsonc,css}"
    #   run: na biome check --fix {staged_files} --reporter summary
    #   stage_fixed: true
    # test:
    #   priority: 5
    #   glob: "*.{ts,tsx,js,jsx}"
    #   run: na vitest related --run {staged_files}
    prettier:
      priority: 6
      glob: "*.{md,mdx,html,htm,yaml,yml,scss}"
      run: na prettier --write {staged_files}
    stylelint: # Biome 尚不支持 scss 文件
      priority: 7
      glob: "*.{css,scss}"
      run: na stylelint --fix {staged_files}

chore: 🤖 update lefthook
  lefthook.yml
  package.json
Due: prettier

chore: 🤖 lefthook
  lefthook.yml
Due: prettier

chore: 🤖 将eslint替换为biome
  .editorconfig
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  biome.json
  lefthook.yml
  package.json
  packages/cli/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier

fix(Picker): 修复 Picker 中 columns 更新未更新选中值
  packages/core/src/picker/_variables.scss
  packages/core/src/picker/picker-button.tsx
  packages/core/src/picker/picker-column.scss
  packages/core/src/picker/picker-column.tsx
  packages/core/src/picker/picker-columns-render.tsx
  packages/core/src/picker/picker-columns.tsx
  packages/core/src/picker/picker-option.tsx
  packages/core/src/picker/picker-title.tsx
  packages/core/src/picker/picker-toolbar.tsx
  packages/core/src/picker/picker.composition.tsx
  packages/core/src/picker/picker.context.ts
  packages/core/src/picker/picker.shared.ts
  packages/core/src/picker/picker.tsx
  packages/core/src/picker/use-picker-options.tsx
Due: typescript, prettier, stylelint

feat(Version): Release 0.6.3-alpha.0
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: prettier

chore: 🤖 skip tsc
  biome.json
  lefthook.yml
  package.json
  packages/core/src/area-picker/area-picker.shared.ts
Due: typescript, prettier

fix(SafeArea): 替换成 getWindowInfo 方法
  biome.json
  packages/core/src/fixed-view/fixed-view.tsx
  packages/core/src/safe-area/safe-area.tsx
Due: typescript

fix(FixView): setting placeholder property causes child components to reconstruct on render
  packages/core/src/fixed-view/fixed-view.tsx
  packages/core/src/hooks/use-height.ts
  packages/core/src/navbar/navbar.scss
  packages/core/src/placeholder/use-placeholder.tsx
Due: typescript, prettier, stylelint

feat(List): add onScroll event
  packages/core/src/list/README.md
  packages/core/src/list/list.tsx
  packages/core/src/pull-refresh/pull-refresh.context.ts
  packages/core/src/pull-refresh/pull-refresh.tsx
Due: typescript, prettier

feat(Tabs): add shrink property
  packages/core/src/tabs/README.md
  packages/core/src/tabs/tabs-header.scss
  packages/core/src/tabs/tabs-header.tsx
  packages/core/src/tabs/tabs.tsx
  packages/demo/src/pages/navigation/tabs/index.tsx
Due: typescript, prettier, stylelint

fix: make Input and Textarea min-height inherit
  packages/core/src/input/native-input.scss
  packages/core/src/textarea/native-textarea.scss
Due: prettier, stylelint

style: 💄 switch 美化
  packages/core/src/switch/_variables.scss
  packages/core/src/switch/switch.scss
Due: prettier, stylelint

chore: 🤖 增加 prepare-commit-msg 钩子
  lefthook.yml
  package.json
  tsconfig.json
Due: prettier

chore: 🤖 scripts update
  package.json
Due: none

fix: 🐛 新增常驻父节点
  packages/core/src/utils/dom/portal.ts
Due: typescript

feat(Version): Release 0.6.4-alpha.0
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/core/src/utils/dom/portal.ts
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: typescript, prettier

chore: 🤖 force git-cz
  lefthook.yml
  package.json
  packages/stylelint-config/package.json
Due: prettier

fix(ActionBar): fix text wrapping
  packages/commerce/src/action-bar/action-bar.scss
Due: prettier, stylelint

doc: wechat
  wechat-qrcode.jpg
Due: none

fix(biome): button、calendar、cascader
  packages/core/src/button/button.tsx
  packages/core/src/calendar/calendar-month.tsx
  packages/core/src/calendar/calendar.shared.ts
  packages/core/src/cascader/cascader-header.tsx
  packages/core/src/cascader/cascader-option-base.tsx
  packages/core/src/cascader/cascader-option.tsx
  packages/core/src/cascader/cascader.shared.ts
  packages/icons/src/utils/index.ts
Due: typescript

fix(biome): cell
  packages/core/src/button/__tests__/button.test.tsx
  packages/core/src/cascader/cascader-tab.tsx
  packages/core/src/cascader/cascader.context.ts
  packages/core/src/cascader/index.ts
  packages/core/src/cell/cell-base.tsx
  packages/core/src/cell/cell-brief.tsx
  packages/core/src/cell/cell-group.tsx
  packages/core/src/cell/cell-title.tsx
  packages/core/src/cell/cell-value.tsx
  packages/core/src/cell/cell.shared.ts
  packages/core/src/cell/cell.tsx
  packages/core/src/cell/index.ts
Due: typescript

fix(biome): col
  packages/core/src/action-sheet/index.ts
  packages/core/src/calendar/calendar.tsx
  packages/core/src/calendar/index.ts
  packages/core/src/checkbox/checkbox-group.tsx
  packages/core/src/circle/circle-canvas.tsx
  packages/core/src/circle/circle.shared.ts
  packages/core/src/circle/circle.tsx
  packages/core/src/col/col.tsx
  packages/gulp/serve.js
Due: typescript

fix(biome): checkbox
  packages/core/src/checkbox/checkbox-group.context.ts
  packages/core/src/checkbox/checkbox.tsx
  packages/core/src/checkbox/index.ts
  packages/core/test/event.ts
Due: typescript

fix(biome): collapse、configProvider、countDown
  packages/core/src/collapse/collapse-item.tsx
  packages/core/src/collapse/collapse.tsx
  packages/core/src/collapse/index.ts
  packages/core/src/config-provider/config-provider.tsx
  packages/core/src/config-provider/index.ts
  packages/core/src/countdown/countdown.shared.ts
  packages/core/src/countdown/countdown.tsx
  packages/core/src/countdown/use-countdown.ts
Due: typescript
