Repository mallfoundry/taroify: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, stylelint

biome:
  priority: 4
  run: na biome check --fix {staged_files} --reporter summary
  stage_fixed: true

prettier:
  priority: 6
  run: na prettier --write {staged_files}

stylelint:
  priority: 7
  run: na stylelint --fix {staged_files}

chore(git-hook): 🤖 remove global dependency @antfu/ni and skip gitleaks security check if not installed
  lefthook.yml
  package.json
  scripts/security.js
Due: biome, prettier

feat: 🎸 Release 0.9.0
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: biome, prettier

fix: 🐛 (PullRefresh): 在 h5 环境下包裹 List 不能正常滚动的问题
  packages/core/src/pull-refresh/pull-refresh.scss
Due: prettier, stylelint

fix: 🐛 uploader 自定义预览样式异常，增加customUploadButton属性
  packages/core/src/uploader/README.md
  packages/core/src/uploader/uploader-upload.tsx
  packages/core/src/uploader/uploader.context.ts
  packages/core/src/uploader/uploader.tsx
  packages/core/src/uploader/uploader.utils.ts
  packages/demo/src/pages/form/uploader/index.tsx
Due: biome, prettier

fix: 🐛 增加itemRender用来修复使用react chidlren属性时图片重复渲染
  packages/core/src/uploader/README.md
  packages/core/src/uploader/uploader.tsx
  packages/demo/src/pages/form/uploader/index.tsx
Due: biome, prettier

fix: 🐛(PullRefresh): 修正 List 搭配 PullRefresh 的使用示例；新增 PullRefresh 搭配 ScrollView 的使用示例
  packages/core/src/list/README.md
  packages/core/src/pull-refresh/README.md
  packages/demo/src/pages/action/pull-refresh/index.tsx
  packages/demo/src/pages/display/list/index.tsx
Due: biome, prettier

fix: 🐛(Cell): 修复 taroify-cell__value 为空的时候依然占位，导致taroify-cell__brief文字无法撑满父容器
  packages/core/src/cell/cell.scss
Due: prettier, stylelint

docs: update Progress example
  packages/core/src/progress/README.md
Due: prettier

chore: fix ci node engine error
  .github/workflows/test.yml
Due: prettier

feature: 支持配置是否显示主标题
  packages/core/src/calendar/calendar-header.tsx
  packages/core/src/calendar/calendar.tsx
Due: biome

docs: ✏️ 添加示例代码
  packages/demo/src/pages/form/calendar/index.tsx
Due: biome

docs: update --dialog-confirm-button-color variable
  packages/core/src/dialog/README.md
Due: prettier

refactor: 💡 将TabPane重命名为TabPanel并更新相关组件和文档
  packages/core/src/tabs/README.md
  packages/core/src/tabs/index.ts
  packages/core/src/tabs/tab-panel-base.tsx
  packages/core/src/tabs/tab-panel.tsx
  packages/core/src/tabs/tabs-content.tsx
  packages/core/src/tabs/tabs.scss
  packages/core/src/tabs/tabs.tsx
  packages/demo/src/pages/navigation/tabs/index.tsx
Due: biome, prettier, stylelint

refactor: 💡 将TabPane重命名为TabPanel并更新相关组件和文档
  packages/core/src/tabs/tabs.tsx
Due: biome

refactor: 💡 将TabPane重命名为TabPanel并更新相关组件和文档
  packages/core/src/swiper/swiper.tsx
  packages/demo/src/pages/navigation/tabs/index.tsx
Due: biome

ci: 🎡 lefthook
  lefthook.yml
  tsconfig.json
Due: biome, prettier

ci: 🎡 test workflows
  .github/workflows/test.yml
Due: prettier

ci: 🎡 lefthook config
  packages/core/src/uploader/uploader.tsx
  tsconfig.json
Due: biome

test: 💍 update cell snap
  packages/core/src/cell/__tests__/__snapshots__/cell.test.tsx.snap
Due: none

perf: ⚡️ (FloatingPanel): 禁用内部 ScrollView 的在 IOS 上的bounces橡皮筋回弹效
  packages/core/src/floating-panel/floating-panel.tsx
Due: biome

Add valueClass prop to CellValue component
  packages/core/src/cell/cell.tsx
Due: biome

Path conditions:
  biome: any of: *.{ts,tsx,js,jsx,json,jsonc,css}
  prettier: any of: *.{md,mdx,html,htm,yaml,yml,scss}
  stylelint: any of: *.{css,scss}
